# Dependencies
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Logs
*.log
logs/

# Editor/OS settings
.vscode/
.idea/
.DS_Store
